@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,500&display=swap');

$main-color: #1B5098;
$header-color: white;
$green: #7ED321;
$deep-blue: #124080;
$background-color: #EEEEEE;
$light-text: #9b9b9b;
$text-blue: #088BEA;
.blue {
  color: $main-color;
}
.text-blue {
  color: $text-blue;
}
.text-light {
  color: $light-text;
}
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
};